<div class="login">
    <a class="hiddenanchor" id="reset_pass"></a>
    <a class="hiddenanchor" id="signin"></a>
    <div class="login_wrapper">
        <div class="animate form login_form">
            <section class="login_content">
                <form name="form_login" id="form_login" ng-submit="signIn()" novalidate>
                    <h1>Iniciar Sesión</h1>
                    <div class="form-group">
                        <input type="text" name="username" id="username" class="form-control" placeholder="Usuario" ng-model='data.username' ng-required="true" autocomplete="off" />
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" id="password" class="form-control" placeholder="Contraseña" ng-model='data.password' ng-required="true" />
                    </div>
                    <div>
                        <button type="submit" class="btn btn-default btn-auth" ng-disabled="form_login.$invalid">Ingresar</button>
                    </div>
                    <div class="clearfix"></div>
                    <div class="separator">
                        <br />
                        <div>
                            <h1><i class="fa fa-users"></i> TLM-ADMIN</h1>
                            <p>©2020 Todos los Derechos Reservados</p>
                        </div>
                    </div>
                </form>
            </section>
        </div>
        <div id="resetpassw" class="animate form registration_form">
            <section class="login_content">
                <form>
                <h1>Create Account</h1>
                <div>
                    <input type="text" class="form-control" placeholder="Username" required="" />
                </div>
                <div>
                    <input type="email" class="form-control" placeholder="Email" required="" />
                </div>
                <div>
                    <input type="password" class="form-control" placeholder="Password" required="" />
                </div>
                <div>
                    <a class="btn btn-default submit" href="index.html">Submit</a>
                </div>

                <div class="clearfix"></div>

                <div class="separator">
                    <p class="change_link">Already a member ?
                    <a href="#signin" class="to_register"> Log in </a>
                    </p>

                    <div class="clearfix"></div>
                    <br />

                    <div>
                    <h1><i class="fa fa-globe"></i> TELEMET</h1>
                    <p>©2018 All Rights Reserved. Privacy and Terms</p>
                    </div>
                </div>
                </form>
            </section>
        </div>
    </div>
</div>