<!-- top navigation -->
<div class="top_nav">
    <div class="nav_menu">
        <nav>
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <img src="assets/images/img.jpg" alt="">{{username}}<span class=" fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                        <li><a href="javascript:;"><i class="fa fa-user-circle-o pull-right"></i>Perfil</a></li>
                        <li><a ng-click="open_qr_code()"><i class="fa fa-qrcode pull-right"></i>QR-Code</a></li>
                        <li><a href="javascript:;"><i class="fa fa-cog pull-right"></i>Configuraciones</a></li>
                        <li><a ng-click="change_password()"><i class="fa fa-unlock-alt pull-right"></i>Cambiar Contrase&ntilde;a</a></li>
                        <li><a ng-click="signOut()"><i class="fa fa-sign-out pull-right"></i> Cerrar Sesion </a></li>
                    </ul>
                </li>

                <li role="presentation" class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-envelope-o"></i>
                        <span class="badge-animate badge bg-green">6</span>
                    </a>
                    <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                        <li>
                            <a>
                                <span class="image"><img src="./assets/images/img.jpg" alt="Profile Image" /></span>
                                <span>
                                <span>John Smith</span>
                                <span class="time">3 mins ago</span>
                                </span>
                                <span class="message">
                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                </span>
                            </a>
                        </li>
                    <li>
                    <a>
                        <span class="image"><img src="./assets/images/img.jpg" alt="Profile Image" /></span>
                        <span>
                        <span>John Smith</span>
                        <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                        Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                    </a>
                    </li>
                    <li>
                    <a>
                        <span class="image"><img src="./assets/images/img.jpg" alt="Profile Image" /></span>
                        <span>
                        <span>John Smith</span>
                        <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                        Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                    </a>
                    </li>
                    <li>
                    <a>
                        <span class="image"><img src="./assets/images/img.jpg" alt="Profile Image" /></span>
                        <span>
                        <span>John Smith</span>
                        <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                        Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                    </a>
                    </li>
                    <li>
                    <div class="text-center">
                        <a>
                        <strong>See All Alerts</strong>
                        <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                    </li>
                </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>
<!-- /top navigation -->