<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2><i class="fa fa-cubes"></i> Listado Articulos</h2>
        <ul class="nav navbar-right panel_toolbox">
          <li>
            <a ui-sref="dashboard.catalogo.producto-details()" class="close-link" style="color:#73879C !important;"><i class="fa fa-plus"></i> Nuevo</a>
          </li>
          <li class="dropdown">
            <a class="close-link text-success dropdown-toggle" data-toggle="dropdown" ng-click="generate_report('xlsx')"><i class="fa fa-file-excel-o text-success"></i></a>
          </li>
          <li class="dropdown">
            <a class="close-link text-success dropdown-toggle" data-toggle="dropdown" ng-click="generate_report('pdf')"><i class="fa fa-file-pdf-o text-danger"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <!--div class="row">
          <div class="col-xs-12 col-sm-12 col-md-4">
            <div class="form-group">
              <label for="tipo_producto" class="control-label">Categoria</label>
              <select-categoria placeholder="'Seleccionar..."></select-categoria>
            </div>
          </div>
        </div-->
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <table st-table="displayed" st-pipe="callServer" class="table table-strip">
              <thead>
                <tr class="sortable">
                  <th style="width:5%;" class="table-id text-center" st-sort="id">#</th>
                  <th style="width:10%;">Código</th>
                  <th style="width:45%;" >Nombre</th>
                  <th style="width:13%;">Categoria</th>
                  <th style="width:8%;">Cant.</th>
                  <th style="width:19%;">Acciones</th>
                </tr>
                <!--tr>
                  <th>&nbsp;</th>
                  <th>
                    <input style="text-transform:uppercase" st-search="cod_articulo" class="input-sm form-control" placeholder="Busqueda Código ..." type="text" />
                  </th>
                  <th>
                    <input style="text-transform:uppercase" st-search="desc_articulo" class="input-sm form-control" placeholder="Busqueda Articulo ..." type="text"/>
                  </th>
                  <th colspan="3">&nbsp;</th>
                </tr-->
              </thead>
              <tbody>
                  <tr st-select-row="row" st-select-mode="multiple" ng-repeat="item in displayed">
                  <td>{{item.id}}</td>
                  <td>{{item.codigo}}</td>
                  <td>{{item.nombre}}</td>
                  <td>{{item.categoria.descripcion}}</td>
                  <td class="text-right">{{item.stock | number:2}}</td>
                  <td class="text-center">
                    <div class="btn-group" role="role">
                      <button class="btn btn-xs btn-success" ng-click="editar(item.id)"><i class="fa fa-pencil"></i></button>
                    </div>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="7" style="text-align:right;" st-pagination="" st-displayed-pages="10"></td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>