<div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12 col-md-offset-11">
        <btn-form-articulo></btn-form-articulo>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-lg-12 col-md-12">
        <div class="table-responsive">
            <table class="table table-striped" st-pipe="callServer" st-table="displayed">
                <thead>
                    <tr>
                        <th width="10%"><input style="text-transform:uppercase" st-search="cod_articulo" class="input-sm form-control" placeholder="Busqueda Código ..." type="text"/></th>
                        <th width="45%">
                            <input style="text-transform:uppercase" st-search="desc_articulo" class="input-sm form-control" placeholder="Busqueda Articulo ..." type="text"/>
                        </th>
                        <th width="20%">
                            <select st-search="categoria_articulo" class="input-sm form-control" name="categoria_articulo" id="categoria_articulo" ng-model="data.categoria_articulo"
                                ng-options="tipo_producto.value as tipo_producto.text for tipo_producto in jTipoProducto"
                            >
                            </select>
                        </th>
                        <th width="20%">
                            <select st-search="id_familia" class="input-sm form-control" name="id_familia" id="id_familia" ng-model="data.id_familia"
                                ng-disabled="data.categoria_articulo!=1"
                                ng-options="tipo_familia.value as tipo_familia.text for tipo_familia in jTipoFamilia"
                            >
                            </select>
                        </th>
                        <th width="5%">&nbsp;</th>
                    </tr>
                    <tr class="sortable ">
                        <th>Cod. Producto</th>
                        <th>Descripción</th>
                        <th>Categoria</th>
                        <th>Tipo Familia</th>
                        <th>Stock</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in displayed">
                        <td>{{item.cod_articulo}}</td>
                        <td style="font-size:12px; cursor:pointer !important;">
                            <a ng-click="seleccionar_articulo(item)" class="btn-link">{{item.desc_articulo}}</a>
                        </td>
                        <td>{{item.desc_categoria}}</td>
                        <td>{{item.desc_familia}}</td>
                        <td class="text-right">{{item.cnt_disponible | number:4}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>&nbsp;</td>
                        <td colspan="4" style="text-align:right;" st-pagination="" st-displayed-pages="10"></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>