<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label for="cod_articulo" class="control-label">Cod. Articulo</label>
            <input type="text" name="cod_articulo" id="cod_articulo" ng-model="data.cod_articulo" style="text-transform:uppercase" class="form-control" placeholder="Codigo" readonly />
        </div>
    </div>
    <div class="col-md-8">
        <div class="form-group">
            <label for="desc_articulo" class="control-label">Articulo</label>
            <input type="text" name="desc_articulo" id="desc_articulo" ng-model="data.desc_articulo" style="text-transform:uppercase" autocomplete="off" class="form-control" placeholder="Descripción Producto" disabled />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <uib-tabset active="activeForm">
            <uib-tab index="0" heading="Ingresos">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <br/>
                        <div ui-grid="grid_ingresos" ui-grid-edit ui-grid-row-edit ui-grid-expandable ui-grid-cellNav class="grid"></div>
                    </div>
                </div>
            </uib-tab>
            <uib-tab index="1" heading="Salidas">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <br/>
                        <div ui-grid="grid_salidas" ui-grid-edit ui-grid-row-edit ui-grid-cellNav ui-grid-auto-resize ui-grid-resize-columns class="grid"></div>
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
</div>
<script type="text/ng-template" id="myTemplateColumn">
    <!-- <div class="ui-grid-cell-contents"> -->
        <a ng-if="row.entity.id_kardex=='0'" class="btn btn-link" ng-click="grid.appScope.add_ingreso(row)">
            <i class="fa fa-exclamation-triangle text-warning"></i>
        </a>
        <a ng-if="row.entity.id_kardex!='0'" class="btn btn-link" >
            <i class="fa fa-check text-success"></i>
        </a>
      <!--
          <div class="ui-grid-cell-contents" title="TOOLTIP">{{grid.appScope.existIngresos(grid, row)}}</div>
          <a class="btn btn-link" ng-click="grid.appScope.deleteRow(row)"><i class="fa fa-trash text-danger"></i></a>
          <span ng-if="grid.getCellValue(row, col).indexOf('fe') == 0">Lady: </span>
        {{COL_FIELD CUSTOM_FILTERS}} -->
    <!-- </div> -->
</script>