<form name="formCategoria" id="formCategoria" ng-submit="guardar(formCategoria)" novalidate class="form-horizontal form-label-left input_mask">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="form-group has-feedback" ng-class="{'has-error bad': formCategoria.descripcion.$invalid && (formCategoria.descripcion.$dirty)}">
                <label for="descripcion" class="control-label">Articulo</label>
                <input type="text" exist-descripcion id-categoria="data.id" name="descripcion" id="descripcion" ng-required="true" ng-model="data.descripcion" autocomplete="off" class="form-control" placeholder="Descripción" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="form-group text-right">
                <a class="btn btn-default" title="Listado" ui-sref="dashboard.catalogo.categoria"><i class="fa fa-list"></i></a>
                <button type="button" class="btn btn-danger" ng-click="limpiar()"> <i class="fa fa-ban"></i> Limpiar</button>
                <button type="submit" class="btn btn-success" ><i class="fa fa-floppy-o"></i> Guardar</button>
            </div>
        </div>
    </div>
</form>