<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
            <h2><i class="fa fa-cubes"></i>Categoria</h2>
            <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <form-categoria></form-categoria>
            </div>
        </div>
    </div>
</div>