<div class="row">
    <div class="col-xs-12">
        <div class="x_panel fixed_height_200">
            <div class="x_title">
                <h2>VENTAS</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
            </div>
        </div>
    </div>
</div>

<br />

<style>
@media (max-width: 768px) {
    canvas#pie {
        width: 45vw !important;
        height: 30vw !important
    }
}
@media (min-width: 769px) and (max-width: 991px) {
    canvas#pie {
        width: 30vw !important;
        height: 23vw !important
    }
}
/* @media (min-width: 992px) and (max-width: 1199px) { */
    /* canvas#doughnut { */
        /* width: 500px !important; */
        /* height: 500px !important; */
    /* } */
/* } */
@media (min-width: 1200px) {
    canvas#pie {
        width: 20vw !important;
        height: 15.3vw !important;
    }
}
</style>