<div class="container body">
    <div class="main_container">
        <side-bar></side-bar>
        <top-navigation></top-navigation>
        <!-- page content -->
        <div class="right_col" role="main">
            <div ui-view></div>
        </div>
        <!-- /page content -->
        <side-footer></side-footer>     
    </div>
</div>
<div id="preloader">
    <div></div>
</div>