<form name="formIngreso" id="formIngreso" ng-submit="guardar(formIngreso)" novalidate class="form-horizontal form-label-left input_mask">
    <div class="row">
        <div class="col-md-4 col-sm-5 col-md-2">
            <div class="form-group">
                <label for="cod_articulo" class="control-label">Cód Producto:</label>
                <search-product-codigo model="data.producto"></search-product-codigo>
            </div>
        </div>
        <div class="col-xs-8 col-sm-7 col-md-6">
            <div class="form-group">
                <label for="desc_articulo" class="control-label">Descripci&oacute;n</label>
                <search-product-nombre model="data.producto"></search-product-nombre>                
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-2">
            <div class="form-group">
                <label for="precio" class="control-label">Precio</label>
                <input type="text" name="precio" id="precio" class="form-control text-right" ng-model="data.producto.precio" ng-disabled="true" />
            </div>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-2">
            <div class="form-group">
                <label for="cantidad" class="control-label">Cantidad</label>
                <div class="input-group">
                    <input type="text" class="form-control text-right" name="cantidad" placeholder="0" ng-model="data.cantidad" autocomplete="off" 
                        ng-disabled="data.producto.id==0"
                    />
                    <span class="input-group-btn">
                        <button title="Agregar" type="button" class="btn btn-primary" ng-click="addItems()" 
                        ng-disabled="data.producto.id==0"
                        >
                            <i class="fa fa-plus"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div ui-grid="gridOptions" ui-grid-edit ui-grid-row-edit ui-grid-cellNav ui-grid-validate class="grid"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group text-right">
                <br/>
                <button type="button" class="btn btn-danger" ng-click="limpiar()"> <i class="fa fa-trash-o"></i> Limpiar</button>
                <button type="submit" class="btn btn-success" ng-disabled="formIngreso.$invalid || formIngreso.$pending">
                    <i class="fa fa-floppy-o"></i> Guardar
                </button>
            </div>
        </div>
    </div>
</form>
<style>
    .modal .modal-dialog{
        vertical-align: center;
    }

    .modal.win_grid_familia .modal-dialog {
        width: 80% ;
        text-align: left;
        height: 50% !important;
    }

    @media only screen and (max-width: 900px) {
        .modal.win_grid_familia .modal-dialog {
            width: 98% !important;
            text-align: left;
            height: 50% !important;
        }
    }

    .text-tachado{
        color:red !important;
        text-decoration: line-through !important;
    }

    .modal.win_area_ubicacion .modal-dialog{
        width: 58% !important;
        /* z-index: 10000 !important; */
    }

    .ui-select-no-choice{
        z-index: 999 !important;
    }
</style>