<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2><i class="fa fa-coffee"></i> Registro Ventas</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                <form-ventas></form-ventas>
            </div>
        </div>
    </div>
</div>
<style>
    .modal .modal-dialog{
        vertical-align: middle;
    }
    .modal.win_gridproductos .modal-dialog{
        width: 85%;
        display: inline-block;
        text-align: left;
    }    
</style>