<div class="input-group">
    <div class="input-group-btn">
        <button title="Seleccionar Articulo" type="button" class="btn btn-primary" ng-click="modal_articulos()"><i class="fa fa-search"></i></button>
    </div>
    <input type="text" class="form-control" name="cod_articulo" ng-model="articulo.cod_articulo"  autocomplete="off" placeholder="Seleccionar Articulo"/>
    <div class="input-group-btn">
        <button title="Limpiar Código" ng-disabled="articulo.id_articulo==0" ng-click="clear_articulo()" type="button" class="btn btn-default" ><i class="fa fa-ban"></i></button>
    </div>
</div>
