<input type="text" class="form-control" name="desc_articulo" autocomplete="off" placeholder="Nombre del Producto"
  ng-model="$ctrl.model.nombre" 
  uib-typeahead="aproductos.text as aproductos.text for aproductos in getSearchProducto($viewValue)" 
  typeahead-template-url="customTypeaheadDescripcion.html" 
  typeahead-on-select="selectedNombre($item, $model, $label, $event)"
  typeahead-no-results="noResults"
/>
<script type="text/ng-template" id="customTypeaheadDescripcion.html">
  <a>
    <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
  </a>
</script>