<div class="input-group">
    <input type="text" class="form-control" id="codigo" name="codigo" ng-model="$ctrl.model.codigo" autocomplete="off" 
        uib-typeahead="aproductos.text as aproductos.text for aproductos in getSearchProducto($viewValue)" 
        typeahead-template-url="customTypeaheadDescripcion.html" 
        typeahead-on-select="selectedNombre($item, $model, $label, $event)"
        typeahead-no-results="noResults"  
    />
    <span class="input-group-btn">
        <button title="Listado" type="button" class="btn btn-primary" ng-click="modal_listado_productos()"><span class="fa fa-search"></span></button>
    </span>
</div>
