<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a class="site_title"><i class="fa fa-fire"></i> <span>Koofe</span></a>
        </div>
        <div class="clearfix"></div>
        <!-- menu profile quick info -->
        <div class="profile clearfix">
            <div class="profile_pic">
                <img src="assets/images/img.jpg" alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info">
                <span>Bienvenido</span>
                <h5>{{empleado}}</h5>
            </div>
        </div>
        <!-- /menu profile quick info -->
        <br />
        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section active">
                <h3>Dashboard</h3>
                <ul class="nav side-menu">
                    <li ng-repeat="item in ::menuItems">
                        <a namestate="item.stateRef">
                            <i class="{{item.icon}}"></i>{{ ::item.title }} <span class="fa fa-chevron-down"></span>
                        </a>
                        <ul class="nav child_menu">
                            <li ng-repeat="subitem in item.subMenu">
                                <a ng-if="!subitem.subMenu" namestate="subitem.stateRef"
                                    ui-sref="{{subitem.stateRef}}" ng-target="_self">{{::subitem.title}} <span
                                        ng-if="::(subitem.subMenu)" class="fa fa-chevron-down"></span></a>
                                <a ng-if="subitem.subMenu" namestate="subitem.stateRef" ui-sref=""
                                    ng-target="_self">{{::subitem.title}} <span ng-if="::(subitem.subMenu)"
                                        class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu" ng-if="subitem.subMenu">
                                    <li ng-repeat="sub in subitem.subMenu">
                                        <a namestate="sub.stateRef " ui-sref="{{sub.stateRef}}"
                                            ng-target="_self">{{::sub.title}}</a>
                                    </li>
                                </ul>
                            </li>
                            <!-- <li ng-repeat="subitem in item.subMenu" >
                                <a ng-if="::(subitem.subMenu)"  namestate="subitem.stateRef " ui-sref="" ng-target="_self" >{{::subitem.title}} <span  ng-if="::(subitem.subMenu)" class="fa fa-chevron-down"></span></a>
                                <a ui-sref="{{subitem.stateRef}}" ng-target="_self" >{{::subitem.title}} <span  ng-if="::(subitem.subMenu)" class="fa fa-chevron-down"></span></a>
                            </li> -->
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /sidebar menu -->
        <!-- /menu footer buttons -->
        <div class="sidebar-footer hidden-small">
            <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
        </div>
        <!-- /menu footer buttons -->
    </div>
</div>
<style>
    .site_title i {
        border: none !important;
    }
</style>