<ui-select theme="bootstrap" id="categoria" name="categoria" ng-model="$ctrl.model">
    <ui-select-match placeholder="{{$ctrl.placeholder}}">
        {{$select.selected.descripcion}}
    </ui-select-match>
    <ui-select-choices repeat="irow in aCategoria | filter: $select.search">
        <div ng-bind-html="irow.descripcion | highlight: $select.search"></div>
    </ui-select-choices>
</ui-select>