<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2><i class="fa fa-cubes"></i> Listado Categoria</h2>
          <ul class="nav navbar-right panel_toolbox">
            <li>
              <a ui-sref="dashboard.catalogo.categoria-details()" class="close-link" style="color:#73879C !important;"><i class="fa fa-plus"></i> Nuevo</a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <table st-table="displayed" st-pipe="callServer" class="table table-strip">
                <thead>
                  <tr class="sortable">
                    <th style="width:5%;" class="table-id text-center" st-sort="id">#</th>
                    <th style="width:10%;">Código</th>
                    <th style="width:75%;" >Nombre</th>
                    <th style="width:10%;">Acciones</th>
                  </tr>
                  <tr>
                    <th>&nbsp;</th>
                    <th><input style="text-transform:uppercase" st-search="descripcion" class="input-sm form-control" placeholder="Busqueda" type="text"/></th>
                    <th colspan="2">&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                    <tr st-select-row="row" st-select-mode="multiple" ng-repeat="item in displayed">
                    <td>{{item.id}}</td>
                    <td colspan="2">{{item.descripcion}}</td>
                    <td class="text-center">
                      <div class="btn-group" role="role">
                        <button class="btn btn-xs btn-success" ng-click="editar(item.id)"><i class="fa fa-pencil"></i></button>
                        <button class="btn btn-xs btn-default" ng-click="" title="Detalle"><i class="fa fa-list-ul"></i></button>
                      </div>
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="4" style="text-align:right;" st-pagination="" st-displayed-pages="10"></td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>