<form name="formArticulo" id="formArticulo" ng-submit="guardar(formArticulo)" novalidate class="form-horizontal form-label-left input_mask">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-7">
            <div class="form-group has-feedback" ng-class="{'has-error bad': formArticulo.descripcion.$invalid && (formArticulo.descripcion.$dirty)}">
                <label for="descripcion" class="control-label">Nombre</label>
                <input type="text" name="descripcion" id="descripcion" ng-model="data.descripcion" autocomplete="off" class="form-control" placeholder="Nombre Producto"  ng-required="true"
                    validation-producto id-producto="data.id" type-validation="'descripcion'"
                />
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="form-group has-feedback" ng-class="{'has-error bad': formArticulo.referencia.$invalid && (formArticulo.referencia.$dirty)}">
                <label for="referencia" class="control-label">Referencia</label>
                <input type="text" name="referencia" id="referencia" ng-model="data.referencia" autocomplete="off" class="form-control" placeholder="Codigo"  ng-required="true"
                    validation-producto id-producto="data.id" type-validation="'referencia'"
                />
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2">
            <div class="form-group has-feedback" ng-class="{'has-error bad':formArticulo.id_tipo_producto.$invalid && formArticulo.id_tipo_producto.$dirty}">
                <label for="id_tipo_producto" class="control-label">Categoria</label>
                <select-categoria placeholder="Selexionar..." model="data.categoria"></select-categoria>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-3">
            <div class="form-group">
                <label for="precio" class="control-label">Precio</label>
                <input type="text" name="precio" id="precio" ng-model="data.precio" autocomplete="off" class="form-control text-right" placeholder="0" />
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3">
            <div class="form-group">
                <label for="peso" class="control-label">Peso</label>
                <input type="text" name="peso" id="peso" ng-model="data.peso" autocomplete="off" class="form-control text-right" placeholder="0" />
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3">
            <div class="form-group">
                <label for="cnt_stock" class="control-label">Stock</label>
                <input type="text" name="cnt_stock" id="cnt_stock" ng-model="data.cnt_stock" autocomplete="off" class="form-control text-right" ng-disabled="data.id!=0" placeholder="0" />
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3">
            <div class="form-group">
                <label for="fec_ingreso" class="control-label">Fecha Ingreso</label>
                <input type="text" name="fec_ingreso" id="fec_ingreso" ng-model="data.fec_ingreso" autocomplete="off" class="form-control" placeholder="" 
                    placeholder="DD/MM/AAAA" date-range-picker options="datepicker.options"
                />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group text-right">
                <a class="btn btn-default" title="Listado" ui-sref="dashboard.catalogo.producto"><i class="fa fa-list"></i></a>
                <button type="button" class="btn btn-danger" ng-click="limpiar()"> <i class="fa fa-ban"></i> Limpiar</button>
                <button type="submit" class="btn btn-success" ><i class="fa fa-floppy-o"></i> Guardar</button>
            </div>
        </div>
    </div>
</form>